@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

body {
  border: 4px solid blue;
  padding: 20px;
  border-radius: 10px;
}

header,
section,
footer,
article {
  border: 1px solid black;
  margin-bottom: 20px;
}

header {
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* width: max-content; */
}

section {
  height: 850px;
}
header,
footer {
  clear: both;
}

article {
  height: 750px;
  width: 50%;
  float: left;
}

footer {
  height: 150px;
}

/* working on the header */

header {
  background-color: black;
}

.logo {
  height: 130px;
  width: 250px;
}

.motto {
  color: goldenrod;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  float: right;
  padding-top: 75px;
  padding-right: 20px;
}

/* trade of the week */

h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.trade {
  border: 2px solid goldenrod;
  padding: 0 50px 10px 50px;
}

.weeklytrade {
  margin: 20px 40px;
}

/*  story */

aside {
  height: 800px;
  width: 45%;
  float: left;
  border: 3px solid black;
  margin: 20px 30px;
  padding: 15px;
  line-height: 1.5;
  border-radius: 10px;
  background-color: #fef3c7;
}

/* results */

p {
  text-align: center;
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* high impact news */

.highimpact {
  padding: 15px;
}
.news {
  height: 650px;
  width: 630px;
}

/* promotion */

/* footer */

footer {
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
